.DS_Store
.Rhistory
..Rcheck
*ggmapTemp.png
inst/*
tests/testthat/Rplots.pdf
vignettes/figure
vignettes/docs.html
vignettes/rd.html
vignettes/docs_cache/
vignettes/docs_files/
vignettes/assets/
vignettes/rd_cache/
vignettes/rd_files/
.Rproj.user
.RData
.lintr_cache
revdep/checks\.rds
revdep/checks
revdep/\.cache\.rds
revdep/lib
_gh-pages
ggduo_paper.txt
.httr-oauth
