
.DS_Store
.Rhistory
..Rcheck
*ggmapTemp.png
inst/*
tests/testthat/Rplots.pdf
vignettes/figure
vignettes/*.html
vignettes/rd_combined_cache/
vignettes/index_cache/
vignettes/rd_combined.Rmd
.Rproj.user
.RData
.lintr_cache
revdep/checks\.rds
vigs/cache
vigs/*.html
_gh-pages
ggduo_paper.txt
