
.DS_Store
.Rhistory
..Rcheck
*ggmapTemp.png
inst/*
tests/testthat/Rplots.pdf
vignettes/figure
vignettes/*.html
vignettes/docs_cache/
vignettes/docs_files/
vignettes/assets/
vignettes/rd_cache/
vignettes/rd_files/
.Rproj.user
.RData
.lintr_cache
revdep/checks\.rds
_gh-pages
ggduo_paper.txt
