S3method(print,ggpairs)
export(getPlot)
export(ggally_barDiag)
export(ggally_blank)
export(ggally_box)
export(ggally_cor)
export(ggally_density)
export(ggally_densityDiag)
export(ggally_denstrip)
export(ggally_diagAxis)
export(ggally_dot)
export(ggally_dotAndBox)
export(ggally_facetbar)
export(ggally_facetdensity)
export(ggally_facetdensitystrip)
export(ggally_facethist)
export(ggally_points)
export(ggally_ratio)
export(ggally_smooth)
export(ggally_text)
export(ggfluctuation2)
export(ggpairs)
export(ggparcoord)
export(putPlot)
